.App {
    transition: background-color 600ms;
    min-height: 100vh;
    position: relative;

    .App-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5.2rem;
    
        #toggle-view {
            margin-top: 5.7rem;
            margin-left: 4.8rem;
    
            .view-btn {
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.3rem;
                background-color: transparent;
                border: none;
                opacity: 0.4;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }

                &:disabled {
                    cursor: default;
                    opacity: 0.4;
                }
            }
    
            .view-slash {
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.3rem;
                opacity: 1;
            }
    
            .view-clicked {
                line-height: 2.4rem;
                font-family: 'Editorial';
                font-weight: 200;
                opacity: 1;
            }
            
        }
    
        #title {
            margin-top: 5.2rem;
            font-weight: 400;
            font-size: 2.6rem;
            text-transform: uppercase;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
    
        #menu-button {
            margin-top: 5rem;
            margin-right: 4.8rem;
            padding: 7px 16px 9px;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: white;
            border-radius: 2.0rem;
            font-weight: 400;
            font-size: 2.0rem;
            line-height: 2.0rem;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}
