#gallery {
    width: 100%;
    transition: opacity 400ms;
    display: flex;
    flex-direction: column;

    #locations {
        * {
            font-family: 'Helvetica-light';
            font-size: 4.5rem;
            font-weight: 100;
        }
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2%;
    
        .location-btn {
            background-color: transparent;
            border: none;
    
            h2 {
                padding-bottom: 0.5rem;
                opacity: 0.4;
            }

            &:hover {
                cursor: pointer;

                h2 {
                    opacity: 1;
                }
            }

            &:disabled {
                cursor:default;
            
                h2 {
                    opacity: 0.4;
                }
            }
        }

        .location-clicked > h2 {
            font-family: 'Editorial';
            letter-spacing: 0.1rem;
            padding-bottom: 0;
            font-weight: 200;
            opacity: 1;
        }
    
        .location-slash {
            opacity: 0.4;
        }
    }
    
    #gallery-items {
        width: 100%;
        padding: 4.6rem 3% 11rem;
        display: grid;
        grid-template-columns: repeat(3, 32.7%);
        justify-content: center;
        grid-gap: 1.2rem;
    
        .gallery-item {
            padding: 1.5rem 0.4rem 1.6rem;
            border-radius: 2.8rem;
            position: relative;
            background-color: black;
            transition: opacity 400ms;
    
            .item-caption {
                * {
                    font-weight: 400;
                    line-height: 2.3rem;
                }
                
                text-align: left;
                max-width: 40rem;
                position: absolute;
                left: 1.6rem;
                top: 1.6rem;
                transition: background-color 600ms,
                            backdrop-filter 600ms;
                border-radius: 2.0rem;
        
                .item-name {
                    font-size: 2.0rem;
                    padding: 0.7rem 1.6rem 0.9rem;
                    width: fit-content;
                    background-color: rgba(15, 15, 15, 0.54);
                    background-blend-mode: overlay, normal;
                    backdrop-filter: blur(18px);
                    -webkit-backdrop-filter: blur(18px);
                    -moz-backdrop-filter: blur(18px);
                    border-radius: inherit;
                    transition: background-color 600ms;
                }
                
                .item-info {
                    font-size: 1.8rem;
                    margin: 0.7rem 1.6rem 1.2rem;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 800ms,
                                visibility 800ms;
    
                    .item-info-key {
                        opacity: 0.5;
                    }
    
                    :not(:last-child) {
                        margin-bottom: 0.8rem;
                    }
                }
                
            }
        
            .item-image {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.6rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                cursor: default;
    
                .item-caption {
                    background: rgba(15, 15, 15, 0.54);
                    background-blend-mode: overlay, normal;
                    backdrop-filter: blur(18px);
                    -webkit-backdrop-filter: blur(18px);
                    -moz-backdrop-filter: blur(18px);
        
                    .item-name {
                        background-color: transparent;
                        backdrop-filter: none;
                    }
        
                    .item-info {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

