@font-face {
	font-family: 'Editorial'; 
	src: url(../public/fonts/PPEditorialNew-UltralightItalic.otf); 
}

@font-face {
	font-family: 'Helvetica'; 
	src: url(../public/fonts/helvetica_regular.otf); 
}

@font-face {
	font-family: 'Helvetica-light'; 
	src: url(../public/fonts/helvetica_light.otf); 
}


* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

html {
  font-size: 62.5%;
  min-width: 1200px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.4rem;

    &-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 0.2rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  body {
    background-color: black;
  }
}

